
#u2754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
}
#u2754 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:60px;
  width:92px;
  height:19px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u2754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
}
#u2755 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:60px;
  width:105px;
  height:19px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u2755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
}
#u2756 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:60px;
  width:120px;
  height:19px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u2756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
}
#u2757 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:60px;
  width:98px;
  height:19px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u2757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u2758 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:60px;
  width:90px;
  height:19px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u2758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
}
#u2759 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:60px;
  width:108px;
  height:19px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u2759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u2760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:45px;
  height:19px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u2760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:19px;
}
#u2761 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:79px;
  width:96px;
  height:19px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u2761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
}
#u2762 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:79px;
  width:92px;
  height:19px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u2762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
}
#u2763 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:79px;
  width:105px;
  height:19px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u2763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
}
#u2764 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:79px;
  width:120px;
  height:19px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u2764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
}
#u2765 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:79px;
  width:98px;
  height:19px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u2765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u2766 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:79px;
  width:90px;
  height:19px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u2766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
}
#u2767 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:79px;
  width:108px;
  height:19px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u2767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u2768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:45px;
  height:19px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u2768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:19px;
}
#u2769 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:98px;
  width:96px;
  height:19px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u2769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
}
#u2770 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:98px;
  width:92px;
  height:19px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u2770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
}
#u2771 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:98px;
  width:105px;
  height:19px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u2771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
}
#u2772 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:98px;
  width:120px;
  height:19px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u2772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
}
#u2773 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:98px;
  width:98px;
  height:19px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u2773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u2774 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:98px;
  width:90px;
  height:19px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u2774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
}
#u2775 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:98px;
  width:108px;
  height:19px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u2775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:34px;
}
#u2776 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:117px;
  width:45px;
  height:34px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u2776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:34px;
}
#u2777 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:117px;
  width:96px;
  height:34px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u2777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
}
#u2778 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:117px;
  width:92px;
  height:34px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u2778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:34px;
}
#u2779 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:117px;
  width:105px;
  height:34px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u2779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u2780 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:117px;
  width:120px;
  height:34px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u2780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u2781 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:117px;
  width:98px;
  height:34px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u2781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:34px;
}
#u2782 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:117px;
  width:90px;
  height:34px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u2782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u2783 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:117px;
  width:108px;
  height:34px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u2783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u2784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:151px;
  width:45px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u2784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u2785 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:151px;
  width:96px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u2785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u2786 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:151px;
  width:92px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u2786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
}
#u2787 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:151px;
  width:105px;
  height:20px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u2787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
}
#u2788 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:151px;
  width:120px;
  height:20px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u2788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u2789 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:151px;
  width:98px;
  height:20px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u2789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u2790 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:151px;
  width:90px;
  height:20px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u2790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
}
#u2791 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:151px;
  width:108px;
  height:20px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u2791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u2792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:171px;
  width:45px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u2792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u2793 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:171px;
  width:96px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u2793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u2794 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:171px;
  width:92px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u2794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
}
#u2795 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:171px;
  width:105px;
  height:20px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u2795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
}
#u2796 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:171px;
  width:120px;
  height:20px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u2796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u2797 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:171px;
  width:98px;
  height:20px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u2797 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u2798 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:171px;
  width:90px;
  height:20px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u2798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
}
#u2799 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:171px;
  width:108px;
  height:20px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u2799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:21px;
  text-decoration:underline ;
  color:#FFFFFF;
}
#u2800 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:5064px;
  width:249px;
  height:24px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:21px;
  text-decoration:underline ;
  color:#FFFFFF;
}
#u2800 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2801_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2801_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:22px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2801 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:5110px;
  width:186px;
  height:22px;
  display:flex;
  color:#000000;
}
#u2801 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2801_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2801.disabled {
}
.u2801_input_option {
}
#u2802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2802 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:5159px;
  width:96px;
  height:48px;
  display:flex;
}
#u2802 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
